@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: "Poppins", sans-serif;
    background: #fafafa;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.formImage {
    width: max-content;
    margin: 0;
    position: relative;
}

.formImage button {
    outline: none;
    border: none;
    border-radius: 100%;
    transition: all 0.3s;
}

.formImage button img:hover {
    filter: blur(0px);
    transition: all 0.3s;
}

.formImage button:hover::after {
    content: "Actualizar";
    position: absolute;
    color: #fff;
    background-color: #0d76b1;
    border: none;
    width: 80px;
    padding: 3px 0;
    border-radius: 5px;
    font-weight: 700;
    font-size: 0.8rem;
    right: calc(50% - 40px);
    bottom: -13px;
    transition: all 0.3s;
}

.checkbox_deploy_container {
    position: relative;
    height: 35px;
    border-radius: 5px;
    padding: 5px 0;
    color: #fff;
    background-color: #0d6efd;
    transition: all 0.3s;
}

.text_deploy_formUpdateImage {
    position: absolute;
    left: 20px;
}

.checkbox_new_image {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 15px;
    width: 15px;
}

.formToUploadImage {
    display: none;
}

.formToExistingImage {
    display: none;
}

#newImageIcon,
#existingImageIcon {
    transition: all 0.2s linear;
    margin: 0 10px 0 0;
}

.exist-images_container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1100px;
}

.exist-images_input-group {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    filter: brightness(70%);
}

.exist-images_input-group:hover {
    filter: brightness(100%);
}

.exist-images_radio {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
}

.image-card_toUpload_container {
    width: 200px;
    height: 200px;
}

.exist-img_upload {
    min-width: 100%;
    max-height: 100%;
}

.cardSliderContainer {
    position: relative;
}

.buttonDeleteCardSlide {
    position: absolute;
    border: none;
    outline: none;
    background: #ff0000;
    color: #ffffff;
    padding: 2px 5px;
    /* border-top-right-radius: 5px; */
    border-radius: 100%;
    top: 7px;
    right: 7px;
}

.hiddenContainer {
    display: none;
}

.image--card_container {
    position: relative;
    color: #ffffff;
}

.image--card_filter {
    position: absolute;
    top: 0;
    opacity: 0;
    filter: blur(0);
    background-color: #00000053;
    height: 100%;
    width: 100%;
    max-width: 1000px;
    transition: all 0.3s ease-out;
}

.image--card_container:hover .image--card_filter {
    opacity: 1;
    transition: all 0.3s ease-out;
}

.image--card_container:hover .image--card_image {
    filter: blur(5px);
    transition: all 0.3s ease-out;
}

.image--card_image {
    border-radius: 5px;
}

.image--card_text {
    position: absolute;
    font-size: 2rem;
    left: calc(50% - 126px);
    top: calc(50% - 24px);
}

.nav-link-item {
    position: relative;
    transition: all 0.1s linear;
}

.nav-link-item:hover {
    background-color: #0d6efd;
    transform: translateX(5px);
    transition: all 0.1s linear;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.superindice{
    color:red;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.sidebar_container {
    min-width: 280px;
    width: 280px;
}

#sidebar {
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100vh;
    position: fixed;
    z-index: 15;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    /* margin-left: 280px; */
    /* z-index: 10; */
}

.button_sideBar{
    display: none;
    border: none;
    background: #0d6dfd30;
    border-radius: 5px;
    padding: 0 5px;
}
.button_sideBar:active{
    border: solid 1px #0d6dfd;
}

.button_close_sideBar{
    display: none;
    border: none;
    background: #0d6dfd30;
    border-radius: 5px;
    padding: 0 5px;
}

.table-danger{
    width: 100%;
}

.table-danger th{
    background-color: #b02a37;
    color: #ffffff;
    border-right: 1px solid #ffffff;
}

.table-danger tr{
    border-bottom: 1px solid #b02a37;
}

.table-warning{
    width: 100%;
}

.table-warning th{
    background-color: #997404;
    color: #ffffff;
    border-right: 1px solid #fff3cd;
}

.table-warning tr{
    border-bottom: 1px solid #997404;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        height: 100%;
        margin-left: -280px;
        transition: all 0.3s;
    }

    .sidebar_container{
        margin-left: -280px;
        transition: all 0.3s;
    }

    .button_sideBar{
        display: block;
    }

    #content {
        transition: all 0.3s;
        margin-left: 0px;
    }
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 4px;
    /* background-color: #F5F5F5; */
}
::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgb(255, 0, 0); */
    border-radius: 0;
    /* background-color: #cccccc00; */
}
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #0d6efd;
    /* background-image: -webkit-linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.4) 50%,transparent,transparent) */
}
